<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}

    {% block head %}
    {{ super() }}
    <title>RoboTrace | Enhancement </title>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plots.js') }}"></script>

    {% endblock %}

</head>
{% block content %}

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: 1.5rem;" href="/">RoboTrace-enhancement</a>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="d-flex flex-column flex-lg-row">
        <div class="sidebar">
            <nav class="navbar navbar-dark">
                <form action="{{ url_for('enhancement.get_global_plot') }}" method="GET">


                    <div class="nav flex-column">
                        <p class="navbar-brand">DFG</p>
                    
                        <input type="radio" class="btn-check" id="btn-check-frequency" name="graph" value="frequency">
                        <label class="nav-link btn btn-outline-light" for="btn-check-frequency">
                            <i class="fa fa-bars" title="See Frequency Graph"></i> Frequency
                        </label>
                    
                        <input type="radio" class="btn-check" id="btn-check-performance" name="graph" value="performance">
                        <label class="nav-link btn btn-outline-light" for="btn-check-performance">
                            <i class="fa fa-clock" title="See Performance Graph"></i> Performance
                        </label>
                    </div>
                    
                    

                    <div class="nav flex-column">
                        <p class="navbar-brand">Perspectives</p>

                        <input type="checkbox" class="btn-check" id="btn-check-space" name="space" value="1">
                        <label class="nav-link btn btn-outline-light" for="btn-check-space">
                            <i class="fa fa-map" title="See Space Plot"></i> Space
                        </label>
                        <input type="checkbox" class="btn-check" id="btn-check-battery" name="battery" value="1">
                        <label class="nav-link btn btn-outline-light" for="btn-check-battery">
                            <i class="fa fa-battery-half" title="See Battery Plot"></i> Battery
                        </label>
                        <input type="checkbox" class="btn-check" id="btn-check-msg" name="communication" value="1">
                        <label class="nav-link btn btn-outline-light" for="btn-check-msg">
                            <i class="fa fa-comment" title="See Communication Plot"></i> Communication
                        </label>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-light btn-nav">Apply</button>
                        </div>

                    </div>
                </form>
                <div class="mt-auto">
                    <hr class="border-light">
                    <p class="navbar-brand text-center">Handle Log</p>
                    <div class="nav flex-column text-center">
                        <a href="{{ url_for('discovery.init') }}">
                            <button class="btn btn-outline-light btn-nav">
                                <i class="fa fa-arrow-left" title="Go Back to Discovery"></i> Back to Discovery
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="content">
        <div class="container-fluid">
            <!-- Process Area -->
            <div class="plot-card card">
                <div class="card-header">
                    <span class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#control_flow">
                        <i class="fa fa-spinner"></i> Control-flow Perspective
                    </span>
                </div>
                <div id="control_flow" class="collapse show card-body">
                    <div class="d-flex justify-content-end mb-3">
                        <div class="btn-group">
                            <button id="toggle-button" class="btn btn-outline-secondary"
                                title="Change Graph Direction"><i class="bi bi-arrow-repeat" aria-hidden="true"></i>
                            </button>
                            <button onclick="downloadGraph()" class="btn btn-outline-secondary" title="Download SVG"><i
                                    class="bi bi-download" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div id="graph-container" style="height: 300px;"></div>
                </div>
            </div>

        </div>


        <!-- Plots Area -->
        <div class="container-fluid mt-3">
            <div class="row">
                {% if session.measures %}
                {% set activity_plots = session.measures.get(session.current_activity, session.measures['global'])
                %}

                <!-- Space Plot -->
                {% if activity_plots.space %}
                <div class="col-md-6">
                    <div class="plot-card card">
                        <div class="card-header">
                            <span class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#space_div">
                                <i class="fa fa-map"></i> Space Perspective
                            </span>
                        </div>
                        <div id="space_div" class="collapse show card-body">
                            {% for plot in activity_plots.space %}
                            {% include plot %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Time Plot -->
                {% if activity_plots.time %}
                <div class="col-md-6">
                    <div class="plot-card card">
                        <div class="card-header">
                            <span class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#time_div">
                                <i class="fa fa-calendar"></i> Time Perspective
                            </span>
                        </div>
                        <div id="time_div" class="collapse show card-body">
                            {% for plot in activity_plots.time %}
                            {% include plot %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Battery Plot -->
                {% if activity_plots.battery %}
                <div class="col-md-6">
                    <div class="plot-card card">
                        <div class="card-header">
                            <span class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#battery_div">
                                <i class="fa fa-battery-half"></i> Battery Perspective
                            </span>
                        </div>
                        <div id="battery_div" class="collapse show card-body">
                            {% for plot in activity_plots.battery %}
                            {% include plot %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Communication Plot -->
                {% if activity_plots.communication %}
                <div class="col-md-6">
                    <div class="plot-card card">
                        <div class="card-header">
                            <span class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#communication_div">
                                <i class="fa fa-comment"></i> Communication Perspective
                            </span>
                        </div>
                        <div id="communication_div" class="collapse show card-body">
                            {% for plot in activity_plots.communication %}
                            {% include plot %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}


                {% else %}
                <p>No measures data available to display.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        const response_data = {{ session.response_data|default ("") | tojson }};
        generate_dagre(response_data);
    </script>
</body>
{% endblock %}

</html>