<!DOCTYPE html>
<html>

<head lang="en">
    {% block head %}

    <title>Tale Miner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JavaScript -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.26.0/cytoscape.min.js"></script>
    <script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-klay@3.1.4/cytoscape-klay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-cxtmenu@3.5.0/cytoscape-cxtmenu.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/dagre@0.8.5/dist/dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dagre-d3@0.6.4/dist/dagre-d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-zoom@3.0.0/dist/d3-zoom.min.js"></script>
    {% endblock %}

</head>

<body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-light justify-content-center">
        <h1 class="navbar-brand" style="font-size: 40px;">Tale Analysis</h1>
    </nav>

    <div class="offcanvas offcanvas-start" id="demo">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Handle {{session.file_name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            {% if session.files %}
            <div class="container card">
                <div class="card-header">
                    <h4> Filtering</h4>
                </div>
                <div class="card-body">
                    <form id="filters" action="/discover/activity" method="GET">
                        {% if session.fdata.resources %}
                        <h5> Resources </h5>
                        <select class="custom-select" name="resource_option" id="selectRes">
                            <option value="none" selected>None</option>
                            {% for resource in session.fdata.resources %}
                            <option value="{{resource}}" {% if resource_opt==resource %} selected {% endif %}>{{
                                resource }}
                            </option>
                            {% endfor %}
                        </select>
                        <hr>
                        {% endif %}
                        {% if session.fdata.cases %}
                        <h5> Cases </h5>
                        <select class="custom-select" name="case_option" id="selectCase">
                            <option value="none" selected>None</option>
                            {% for case in session.fdata.cases %}
                            <option value="{{case}}" {% if case_opt==case %} selected {% endif %}>{{ case }}
                            </option>
                            {% endfor %}
                        </select>
                        <input hidden name="file_name" value="{{session.file_name}}" />
                        {% endif %}
                        <input type="submit" class="btn btn-outline-secondary" value="Apply Filters" />
                    </form>
                </div>
            </div>{% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div id="parameters" class="container">
                    <form action="/select/logs" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6"><label for="file">Select Event Log Files</label>
                                <input class="btn btn-outline-secondary" type="file" name="file" multiple />
                            </div>
                            <div class="col-2"><input class="btn btn-outline-secondary" type="submit" type="button"
                                    value="Upload" /> </div>
                            <div class="col-2">
                                <button class="btn btn-outline-secondary" onclick="csvParser()">CSV parser</button>
                            </div>
                        </div>
                    </form>
                    <div id="generated_xes_name"> </div>
                    <hr>
                    <!--<button onclick="toggleFullScreen()">Toggle fullscreen</button>-->
                    {% if session.files %}
                    <div class="row">
                        <table id="files-table">
                            <tr>
                                <th>Event Log</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for value in session.files %}
                            <tr id="{{value}}">
                                <td> {{ value }}</td>
                                <td>
                                    <form action="/filter" method="POST">
                                        <input hidden name="file_name" value="{{value}}" />
                                        <input class='btn btn-outline-dark' type="submit" value="Create Filters" />
                                    </form>
                                </td>
                                <td>
                                    <form action="/discover/activity" method="POST">
                                        <input hidden name="file_name" value="{{value}}" />
                                        <input class='btn btn-outline-dark' type="submit" value="Discover Process" />
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#demo">
                                        Handle Data
                                    </button>
                                </td>
                                <td>
                                    <form action="/" method="POST">
                                        <input hidden name="file_name" value="{{value}}" />
                                        <button type="submit" class="btnn" value="Delete" id="delete-btn"><i
                                                class="fa fa-close"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                </div>
                <!-- Context menu -->
                <div id="context-menu" class="context-menu">
                    <div class="context-menu-title">Measures</div>
                    <div id="space-menu" class="context-menu-option">Space</div>
                    <div id="time-menu" class="context-menu-option">Time</div>
                    <div id="energy-menu" class="context-menu-option">Energy</div>
                </div>
                <div id="graph-container"></div>
                <div class="row card-columns">
                    <div class="card">
                        <!--<div class="row card-body frame-graph" id="cyto">-->
                        <script>
                            const response_data = {{ session.response_data|default ("") | tojson }}
                            generate_dagre(response_data)
                        </script>
                        <!-- </div>-->
                    </div>
                    <div hidden class="col-10">
                        <form action="/view/activity" method="GET">
                            <input id="activity_id" name="activity_id" value="" />
                            <div id="activity_space">
                                <input id="space" name="space" value="" />
                                <input id="see_space_graph" type="submit" />
                            </div>
                            <div id="activity_time">
                                <input id="time" name="time" value="" />
                                <input id="see_time_graph" type="submit" />
                            </div>
                            <div id="activity_energy">
                                <input id="energy" name="energy" value="" />
                                <input id="see_energy_graph" type="submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if session.plot_file %}
        <div class="row mt-3">
            {% set activity_plots = session.plot_file[session.current_activity] %}
            <div class="card-columns">
                {% if activity_plots.space %}
                <div id="space_div" class="card">
                    <div class="card-body">
                        <h5 class="card-title">Space Perspective</h5>
                        <label class="toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                            <span class="labels" data-on="3D" data-off="Heatmap"></span>
                        </label>
                        {% include activity_plots.space %}
                    </div>
                </div>
                {% endif %}
                {% if activity_plots.time %}
                <div id="time_div" class="card">
                    <div class="card-body">
                        <h5 class="card-title">Time Perspective</h5>
                        {% include activity_plots.time %}
                    </div>
                </div>
                {% endif %}

                {% if activity_plots.battery %}
                <div id="battery_div" class="card">
                    <div class="card-body">
                        <h5 class="card-title">Battery Perspective</h5>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>