<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata Section -->
    {% block head %}
    <title>TaleMiner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- External JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dagre@0.8.5/dist/dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dagre-d3@0.6.4/dist/dagre-d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-zoom@3.0.0/dist/d3-zoom.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">    </script>
    {% endblock %}
</head>

<body>
    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-light justify-content-center shadow-sm">
         <!-- <h1 class="navbar-brand">RoboTrace</h1>-->
        <h1 class="navbar-brand">DFG-discovery</h1>
        <!-- Toggle Button for File Upload Section -->
        <button class="btn btn-outline-secondary btn-nav" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseInput" aria-expanded="false" aria-controls="collapseInput">
            <i class="fa fa-table" aria-hidden="true"></i> Toggle File Upload
        </button>
    </nav>

    <!-- Filtering Section -->
    <div class="offcanvas offcanvas-start" id="demo">
        <!-- Offcanvas Header -->
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Handle {{ session.file_name }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <!-- Offcanvas Body -->
        <div class="offcanvas-body">
            {% if session.files %}
            <!-- Filtering Form -->
            <div class="card">
                <div class="card-header">
                    <h4> Filtering</h4>
                </div>
                <div class="card-body">
                    <form id="filters" action="{{url_for('robotrace.discover_dfg')}}" method="GET">
                        <!-- Resource Filtering -->
                        {% if session.fdata.resources %}
                        <h5> Resources </h5>
                        <!-- Select Dropdown for Resources -->
                        <select class="form-select" name="resource_option" id="selectRes">
                            <option value="none" selected>None</option>
                            {% for resource in session.fdata.resources %}
                            <option value="{{resource}}" {% if resource_opt==resource %} selected {% endif %}>{{
                                resource }}
                            </option>
                            {% endfor %}
                        </select>
                        <hr>
                        {% endif %}
                        <!-- Case Filtering -->
                        {% if session.fdata.cases %}
                        <h5> Cases </h5>
                        <!-- Select Dropdown for Cases -->
                        <select class="form-select" name="case_option" id="selectCase">
                            <option value="none" selected>None</option>
                            {% for case in session.fdata.cases %}
                            <option value="{{case}}" {% if case_opt==case %} selected {% endif %}>{{ case }}
                            </option>
                            {% endfor %}
                        </select>
                        <input hidden name="file_name" value="{{session.file_name}}" />
                        {% endif %}
                        <!-- Submit Button for Filters -->
                        <input type="submit" class="btn btn-outline-secondary" value="Apply Filters" />
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- File Upload Section -->
    <div class="container-fluid mt-3">
        <!-- Collapsible File Upload Section -->
        <div class="collapse" id="collapseInput">
            <div class="row justify-content-center">
                <!-- File Upload Form -->
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <form action="select-logs" method="POST" enctype="multipart/form-data">
                                <label for="file" class="form-label">Select Event Log Files</label>
                                <div class="row">
                                    <!-- Input for File Selection -->
                                    <div class="col-md-8 mb-3">
                                        <input class="form-control" type="file" name="file" multiple />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <button class="btn btn-outline-secondary w-100" type="submit">Upload</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1 mb-3"></div>
                        <div class="col-md-5 mb-3">
                            <label for="file" class="form-label"><strong>OR</strong> parse from CSV</label>
                            <div class="row">
                                <button class="btn btn-outline-secondary w-100" id="uploadBtn">CSV Parser</button>

                                <div id="uploadDialog" style="display: none;">
                                    <form action="{{ url_for('robotrace.csv_processing') }}" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-5 mb-3">
                                                <input class="form-control" type="file" name="csv-file" id="csv-file">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="submit" value="Parse"
                                                    class="btn btn-outline-secondary w-100">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Result Display Section -->
    <div id="generated_xes_name"></div>
    <hr>
    <div class="container-fluid mt-3">
        {% if session.files and session.files | length > 0 %}
        <!-- File List Table -->
        <div class="row justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event Log</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Analysis</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in session.files %}
                    <tr id="{{value}}">
                        <!-- File Information -->
                        <td>{{ value }}</td>
                        <!-- Actions -->
                        <td>
                            <form action="filter" method="POST">
                                <input hidden name="file_name" value="{{value}}" />
                                <button class="btn btn-outline-dark" type="submit">Create Filters</button>
                            </form>
                            <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#demo">Handle Data</button>
                        </td>
                        <td>
                            <form action="discover-activity" method="POST">
                                <input hidden name="file_name" value="{{value}}" />
                                <button class="btn btn-outline-dark" type="submit">Discover Process</button>
                            </form>
                            <button class="btn btn-outline-dark" title="Please Discover Process" type="button"
                                onclick="openNewTab()" id="measures" disabled>Measurements GUI</button>
                            <script>
                                function openNewTab() {
                                    localStorage.setItem('sharedContent', document.getElementById('graph-container').innerHTML);
                                    window.open("{{ url_for('robotrace.measurements_gui') }}", "_blank");
                                }
                            </script>
                        </td>
                        <td>
                            <form action="{{ url_for('robotrace.init') }}" method="POST">
                                <input hidden name="file_name" value="{{value}}" />
                                <button type="submit" class="btn" title="Delete Log"><i
                                        class="fa fa-close"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <!-- Graph Display Section -->
        {% if session['response_data'] != '' %}
        <div class="row">
            <div class="d-flex justify-content-end mb-3">
                <div class="btn-group">
                    <!-- Toggle Graph Direction Button -->
                    <button id="toggle-button" class="btn btn-outline-secondary" title="Change Graph Direction"><i
                            class="fa fa-repeat" aria-hidden="true"></i> Toggle Direction
                    </button>
                    <!-- Download SVG Button -->
                    <button onclick="downloadGraph()" class="btn btn-outline-secondary" title="Download SVG"><i
                            class="fa fa-download" aria-hidden="true"></i> Download SVG
                    </button>
                </div>
            </div>
            <!-- Graph Container -->
            <div id="graph-container"></div>
        </div>
        {% endif %}

    </div>

    <!-- Hidden Section for DAGRE -->
    <div hidden class="row card-columns">
        <div class="card">
            <!-- JavaScript for Generating DAGRE Graph -->
            <script>
                const response_data = {{ session.response_data|default ("") | tojson }}
                generate_dagre(response_data)
                console.log('rd', response_data)
                if (response_data == '') {
                    document.getElementById('measures').disabled = true;
                } else {
                    document.getElementById('measures').disabled = false;
                    document.getElementById('measures').title = "Open Multi-Perspective Interface"
                }
            </script>
        </div>
    </div>
    <script>
        document.getElementById('uploadBtn').addEventListener('click', function () {
            this.style.display = 'none';
            document.getElementById('uploadDialog').style.display = 'block';
        });
    </script>
</body>

</html>